section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0,0,0)
}

article{
  text-align: center;
  color: white;
  border: 1px solid rgba(255,255,255,0.45);
  padding: 40px;
}
